/* Default (Desktop) */
.pc-html {
    display: block;
}

.mobile-html {
    display: none;
}

main.nemx-main-section {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
main.nemx-main-section > aside,
main.nemx-main-section > main {
  min-height: 0;
}


/* Mobile */
@media (max-width: 480px) {
    
 
    .pc-html {
        display: none;
    }

    .mobile-html {
        display: block;
    }

main.nemx-main-section {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
main.nemx-main-section > aside,
main.nemx-main-section > main {
  min-height: 0;
}
    
}
