/* Default (Desktop) */
.pc-html {
    display: block;
}

.mobile-html {
    display: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

/* Mobile */
@media (max-width: 480px) {
    html, body {
  height: 100%;
  overflow: hidden;
}
    .pc-html {
        display: none;
    }

    .mobile-html {
        display: block;
    }
}
